[Desktop Entry]
Name={{jetbrains[jetbrains_product].name}} {{jetbrains_version}}
Type=Application
Comment={{jetbrains[jetbrains_product].comment}}
Exec=/usr/local/jetbrains/{{jetbrains_product}}-{{jetbrains_version}}/bin/{{jetbrains_product}}.sh
Icon=/usr/local/jetbrains/{{jetbrains_product}}-{{jetbrains_version}}/{{jetbrains[jetbrains_product].icon}}
Categories=Development;
